*{
  margin: 0px;
  padding: 0px;
  }
#contenedor{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 620px;
  background-color: black;
  text-align: center;
}

#imagen{
padding-top: 70px;
padding-bottom: 30px;
}

#titulo{
padding-bottom: 20px;
}